.header_logo {
  width: 150px;
  border: 0px;
  box-shadow: 0px 0px;
  margin-left: 30px;
}

.title_text {
  display:inline;
  vertical-align: top;
  margin-left: -30px;
}

@media (max-width: 768px) {
  .header_logo {
    width: 75px;
  }
  .title_text{
    margin-left: -15px;
  }
}

.markdown ul {
  margin-left: 0 !important;
}

.markdown li {
  padding-left: 0 !important;
}


@media (min-width: 1088px) {
  .navbar-menu {
    display: flex;
    justify-content: space-between;
  }
  .navbar-item {
    color: white !important;
    font-weight: bold;
    flex-grow: 1;
    justify-content: center;
  }
  .navbar-item:hover {
    color: #00b8d4 !important;
  }
  .section {
    background-repeat: repeat-y;
  }
  .navbar-item.netzwerk {
    background-image: url('c10_nav.png');
  }
  .navbar-item.termine {
    background-image: url('c1_nav.png');
  }
  .navbar-item.romane {
    background-image: url('c13_nav.png');
  }
  .navbar-item.musik {
    background-image: url('c8_nav.png');
  }
  .navbar-item.texte {
    background-image: url('c6_nav.png');
  }
  .navbar-item.links {
    background-image: url('c4_nav.png');
  }
  .navbar-item.audio_video {
    background-image: url('c9_nav.png');
  }
  .navbar-item.buecher {
    background-image: url('c3_nav.png');
  }
  .navbar-item.kontakt {
    background-image: url('c5_nav.png');
  }
  .navbar-item.faq {
    background-image: url('c2_nav.png');
  }
  .section#netzwerk {
    background-image: url('c10.png');
  }
  .section#termine {
    background-image: url('c1.png');
  }
  .section#romane {
    background-image: url('c13.png');
  }
  .section#musik {
    background-image: url('c8.png');
  }
  .section#texte {
    background-image: url('c6.png');
  }
  .section#links {
    background-image: url('c4.png');
  }
  .section#audio_video {
    background-image: url('c9.png');
  }
  .section#buecher {
    background-image: url('c3.png');
  }
  .section#kontakt {
    background-image: url('c5.png');
  }
  .section#faq {
    background-image: url('c2.png');
  }
}

#audio_video h3, #musik h3 {
  font-size: 1.3rem
}

#audio_video div, #musik div {
  margin-bottom: 60px;
}
